<%- include('partials/header.ejs') %>
<div class="container-fluid">
    <h1 class="display-1 d-flex justify-content-center">Products Available</h1>
</div>
<% if(products.length !== 0){%>
<ul class="list-unstyled" id="list" style="display: flex;flex-direction:column;align-items:center;justify-content:center;text-transform:uppercase;">
    <% for(product of products){ %>
        <li style="width:300px"><a href="/product/listing/<%= product._id%>"><%= product.name%></a></li>
        <% } %>
</ul>
<% }else{ %>
    <h1 id="noProductsHeader">No products available!</h1>
<%}%>

<%- include('partials/footer.ejs') %>