<%- include('partials/header.ejs') %>
<div class="d-flex justify-content-center align-items-center container">
  <div class="card shadow mt-5 border-0" style="width: 18rem;">
      <img class="card-img-top" src="https://images.unsplash.com/photo-1505740420928-5e560c06d30e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="Card image cap">
      <div class="card-body">
        <form action="/login" method="post">
            <div class="form-group mb-3">
                <label class="text-black-50" for="username">Username</label>
                <input type="text" class="form-control" name="username" id="username" aria-describedby="help" placeholder="Enter username" autofocus>
                <small id="help" class="form-text text-muted">Enter your unique username</small>
              </div>
              <div class="form-group mb-3">
                <label class="text-black-50" for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Password">
              </div>
              <button  style="width:100%;" type="submit" class="btn btn-outline-info">Submit</button>
        </form>
      </div>
  </div>
</div>

<%- include('partials/footer.ejs') %>