.center{
    margin-bottom: 20px;
}
.item{
        margin: 0 2px;
}
.error{
    display:none;
}
.contrasty-white{
    color: #ffffff;
    transition: 1s;
}

.contrasty-white:hover{
    color: #cfcfcf;
    transition: 1s;
}

a{
    text-decoration: none;
}

.cluster-map{
    width:100%;height:400px;
}

#menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-transform: uppercase;
    height: 190px;
    align-content: center;
}

@media only screen and (max-width:768px) {
    #menu{
        flex-direction:column;
        white-space:nowrap;
    }

    #displayContainer{
        display:flex;
        flex-direction:column;
        min-height: 800px;
    }

    #map{
        margin-top: 20px;
    }

    #cmap{
        box-sizing:border-box;
        width:90%;
        margin: 10px auto 0px;
        border-radius: 25px;
    }
}

/* .card-img-top{
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
} */

#productCard{
    width: 300px;
}

#map{
    width:300px;
    height: 352px;
}

#displayContainer{
    height:90vh;
}

#noProductsHeader{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

#list{
    height: 70vh;
}